* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.colores {
  background-color: aliceblue;
}

@media (240px < width <= 360px) {
  .colores {
    background-color: lightcoral;
  }
}
@media (360px < width <= 719px) {
  .colores {
    background-color: red;
  }
}
@media (720px <= width <= 960px) {
  .colores {
    background-color: lightgreen;
  }
}
@media (960px < width <= 1080px) {
  .colores {
    background-color: green;
  }
}
@media (1080px < width < 1440px) {
  .colores {
    background-color: lightblue;
  }
}
@media (1440px < width < 2040px) {
  .colores {
    background-color: blue;
  }
}